# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Node
node_modules/

# Environments
.env
.venv
venv/
ENV/

# Logs
*.log

# IDE
.vscode/
.idea/
*.iml

# System
Thumbs.db
